p {
  color:pink;
}

img {
  width: 200px;
  float: left;
}

iframe {
  width: 600px;
  height: 600px;
  float: left;
}

.emphasis {
  color: black;
}

nav {
    display: block;
}

.article {
  display:block;
  padding: 40px;
}

#cat {
  padding: 20px;
}
