p {
  color:pink;
}

img {
  width: 200px;
  float: left;
}

iframe {
  width: 600px;
  height: 600px;
  float: left;
}

.emphasis {
  color: black;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.article {
  display:block;
  padding: 40px;
  text-align: center;
  padding: 50px;
}

#cat {
  margin-left: 600px;
}
