a {
  color:pink;
  text-align: center;
}

img {
  width: 200px;
  float: left;
}

iframe {
  width: 600px;
  height: 600px;
  float: left;
}

.emphasis {
  color: black;
}

nav {
  border-style: solid;
  background-color: black;
  border-width: 50px;
}

ul {
  list-style-type: none;
  border-color: pink;
  padding: 20px;
}

li {
  display: inline;
  margin: 20px;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.article {
  display:block;
  padding: 40px;
  text-align: center;
  padding: 50px;
}

#cat {
  margin-left: 600px;
}
